body{
    font-family: Verdana, "Arial," Helvetica, sans-serif;
}
ul{
    list-style-type: none; 
    padding: 0px;
    display: inline-flex;
    width: 100;
    justify-content: center
    
    
}

li{
    margin: 3px;
}
    
        